<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>File Uploader</title>
		<link rel="stylesheet" href="/styles.css">
	</head>
	<body>
		<div class="pageWrapper">
			<div class="pageCont">
				<% if (locals.user) { %>
					<div class="userCont">
						<h1>Hello <%= user.name %></h1>
					</div>
					<a href="/auth/log-out">
						<button class="logoutBtn">Log out</button>
					</a>
					<a href="/new">
						<button>Create a folder</button>
					</a>
					<a href="/upload">
						<button>Upload</button>
					</a>
					<% if (folders && folders.length > 0) { %>
						<h2>Your folders</h2>
						<% folders.forEach((folder) => { %>
							<a href="/folders/<%= folder.id %>">
								<button><%= folder.name %></button>
							</a>
						<% }) %>
					<% } else { %>
						<p>No foldiers present</p>
					<% } %>
					<% if (files && files.length > 0) { %>
						<h2>Your files</h2>
						<% files.forEach((file) => { %>
							<div><%= file.name %></div>
							<div>Size: <%= file.size %></div>
							<div>Uploaded: <%= file.uploaded %></div>
							<!-- Download link/button -->
							<a href="/download/<%= file.id %>">
								<button>Download</button>
							</a>
						<% }) %>
					<% } %>
				<% } else { %>
					<div class="authCont">
						<p class="loginText">Login or register to upload files!</p>
						<div>
							<a href="/auth/log-in">
								<button>Log In</button>
							</a>
							<a href="/auth/sign-up">
								<button>Register</button>
							</a>
						</div>
					</div>
				<% } %>
			</div>
		</div>
	</body>
</html>